

<div class="diagram">
  <div class="eplsearch">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>

      <input
        pInputText
        type="text"
        [(ngModel)]="filterValue"
        (input)="dt.filterGlobal(filterValue, 'contains')"
        placeholder="Global Search"
      />
    </span>

    <p-button
      class="upload"
      (click)="sidebarVisible = true"
      label="upload"
    ></p-button>
  </div>
</div>

<div id="employee-details">
  <p-table
    #dt
    [columns]="cols"
    [value]="products"
    [rows]="10"
    [showCurrentPageReport]="true"
    [paginator]="true"
    [rowHover]="true"
    scrollHeight=350px
   
    responsiveLayout="scroll"
    scrollDirection="both"
    styleClass="p-datatable-gridlines"
    [scrollable]="true"

    class="employeeTable"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="[
      'EmployeeName',
      'EmployeeEmail',
      'Role',
      'EmailID',
      'ContactNumber'
    ]"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols">
          {{ col.header }}
          <span><p-sortIcon field=""></p-sortIcon></span>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns" class="tableon">
          <ng-container *ngIf="col.field != 'EmployeeStatus' && 'Actions'">
            {{ rowData[col.field] }}
          </ng-container>
          <ng-container class="switch" *ngIf="col.field == 'EmployeeStatus'">
            <td>
              <p-inputSwitch class="icons"></p-inputSwitch>
            </td>
          </ng-container>
          <ng-container *ngIf="col.field == 'Actions'">
            <div class="icons">
              <td>
                <i class="pi pi-eye" style="font-size: 1rem"></i>
                <i class="pi pi-trash" style="font-size: 1rem"></i>
              </td>
            </div>
          </ng-container>

        
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
<div class="side">
  <div class="card flex justify-content-center">

    <p-sidebar [(visible)]="sidebarVisible" position="right" class="side-bar">
      <ng-template class="header" pTemplate="header">Add new user</ng-template>

      <ng-template class="content" pTemplate="content">
        <label id="headline">Employee Name:</label>
        <div class="name">
          <input
            type="text"
            placeholder="Enter"
            pInputText
            [(ngModel)]="value"
          />
        </div>

        <div>
          <label id="headline">Mobile Number:</label>
          <div class="Mobile-number">
            <input
              type="text"
              placeholder="Enter"
              pInputText
              [(ngModel)]="value"
            />
          </div>
        </div>

        <label id="headline">Role:</label>
        <div class="role">
          <p-dropdown
            [options]="cities"
            [(ngModel)]="selectedCity"
            optionLabel="name"
          ></p-dropdown>
        </div>

        <label id="headline">Languages Know:</label>

        <div class="know">
          <div class="card">
            <p-checkbox
              class="checkbox"
              name="group1"
              value="New York"
              [(ngModel)]="selectedCities"
              inputId="ny"
            >
            </p-checkbox>
            <label for="ny">English</label>
          </div>
          <div class="card flex justify-content-center">
            <p-checkbox
              class="checkbox"
              name="group1"
              value="San Francisco"
              [(ngModel)]="selectedCities"
              inputId="sf"
            ></p-checkbox>
            <label for="sf">Tamil</label>
          </div>
          <div class="card flex justify-content-center">
            <p-checkbox
              class="checkbox"
              name="group1"
              value="Los Angeles"
              [(ngModel)]="selectedCities"
              inputId="la"
            ></p-checkbox>
            <label for="la">Hindi</label>
          </div>

          <div class="card flex justify-content-center">
            <p-checkbox
              class="checkbox"
              name="group1"
              value="Los Angeles"
              [(ngModel)]="selectedCities"
              inputId="la"
            ></p-checkbox>
            <label for="la">Marathi</label>
          </div>
        </div>

        <label id="headline">Married:</label>

        <div>
          <div class="yes-no">
            <p-radioButton
              name="pizza"
              class="checkbox"
              value="Cheese"
              [(ngModel)]="ingredient"
              inputId="ingredient1"
            ></p-radioButton>
            <label for="ingredient1" class="ml-2">Yes</label>
          </div>
          <div class="yes-no">
            <p-radioButton
              name="pizza"
              class="checkbox"
              value="Mushroom"
              [(ngModel)]="ingredient"
              inputId="ingredient2"
            ></p-radioButton>
            <label for="ingredient2" class="ml-2">No</label>
          </div>
        </div>
        <label id="headline">DOB:</label>
        <div class="dob">
          <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
        </div>
        <label id="headline">Remarks:</label>
        <div class="remarks">
          <textarea
            rows="5"
            cols="30"
            pInputTextarea
            [(ngModel)]="value"
          ></textarea>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="footer">
          <div class="cancel">
            <p-button label="cancel"></p-button>
          </div>
          <div class="buttonEmployee">
            <p-button label="Add User"></p-button>
          </div>
        </div>
      </ng-template>
    </p-sidebar>
  </div>
</div>