.setPass{
    width: 100%;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-side{
    width: 50%;
    height: 97.95vh;
}
.right-side {
    width: 50%;
    height: 97.95vh;
}

.team-name{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.team-name p {
    font-family: Sansation;
    font-size: 17px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.passBox{
    padding-left: 8%;
    padding-right: 8%;
}

.passBox .side-head{
    font-family: Sansation;
    font-size: 17px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    .input-new-Pass{
        padding-bottom:20px ;
    }
    .input-cfrm-Pass{
        // padding-bottom:20px ;
    }
    .set-div{
        padding-top: 30px;
    }
}

