<div class="setPass">
    <div class="left-side">
        <img src="../../assets/image 2.svg" alt="">
    </div>
    <div class="right-side">
        <div class="team-name">
            <img src="../../assets/Group 48097351.svg" alt="">
            <p>Impact_Dev</p>
        </div>
        <div class="passBox">
            <div class="side-head">
                <h3>Set new password</h3>
            </div>
            <div class="inputs">
                <div class="input-new-Pass">
                    <label for="newpassword">New Password</label>
                    <input type="text" pInputText id="newpassword" />
                </div>
                <div class="input-cfrm-Pass">
                    <label for="confirmpass">Confirm Password</label>
                    <input type="password" pInputText id="confirmpass" />
                    <div class="set-div">
                        <p-button label="Continue"></p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>