.side {
    
  .side-bar {
    .p-sidebar {
      width: 500px !important;
    }
  }
  input {
    width: 100% !important;
  }
  .p-dropdown {
    width: 100% !important;
  }
  .p-checkbox {
    width: 100% !important;
  }
  .dob {
    width: 100% !important;
  }

  .cancel {
    display: flex;
    justify-content: flex-end;

    .p-button:enabled:hover {
        background:none; 
        color:black;
        border-color:none;
    }
    .p-button {
        background-color: white;
        color: black;
        display: flex;
        justify-content: flex-end;
      
    }
    .p-button {
        
        height: 32px;
       }
  }

  .buttonEmployee {
    display: flex;
    justify-content: flex-end;
    .p-button {
      height: 32px;
    }
  }
  .header {
    font-weight: 700;
    border-bottom: 20px solid #f8f9fa;
  } 
  .p-sidebar-header{
    border-bottom: 3px solid #f8f9fa;
    font-weight: 700;
    color: black !important;
    font-size: 16px;

  }

  .p-calendar{
    width: 100% !important;
  }
  .textarea{
    width: 100% !important;
  }

  p-radioButton{
    display: flex;
    flex-direction: row !important;
    // color: aqua;
    
  }
}

.p-component {

    width: 100%;

}

.card-head {
    .tab {
        .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: none;
        }
    }
}

.reset-div {
    .p-button {
        width: 450px;
        height: 42px;
        color: #ffffff;
        background: #2D295A;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        border:none;
        padding: 0.75rem 1.25rem;
        font-size: none;
        transition: none;
    }

    .p-component {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1rem;
        font-weight: normal;
    }

    .p-button:enabled:hover {
        background:none; 
        color: #ffffff;
        border-color: none;
    }
}
.upload{
    .p-component {
        width: 120px !important;
    }
}

/* You can add global styles to this file, and also import other style files */

   
// }
#team{
    .p-sidebar{
        width: 40%;
    }
}
#team{
    .p-sidebar-header{
     border-bottom: 1px solid #e2e2e2;
    }
}


#team {
    width: 500px;
    .p-dropdown{
        width: 100% !important;
        height: 37px;
}
        // padding: 0px;
    }
    .p-sidebar{
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }
    
   
    .canceled{
        .p-button{
            height: 32px;
            background-color: white;
            color: #000000;
        }
        .p-button:hover{
            background-color: white;
        }

    
.p-button:enabled:hover {
    background:none;
    color:black;
    border-color:black;
}
p-button:focus {
    box-shadow: none; 
}
    
    }
    .submit{
        .p-button{
          height: 32px;
        }
    }

.canceled{
    .p-button:focus {
        box-shadow: none; 
   }
   .p-button:focus {
       outline: none;
       outline-offset: none;
       box-shadow: none;
   }
   .canceled .p-button {
       height: 32px;
       background-color: white;
       color: #000000;
   }
   .p-button:focus {
       box-shadow: none;
   }
   .p-button:focus {
       outline: 0 none;
       outline-offset: 0;
       box-shadow: none; 
   }
}

.p-inputtt.p-inputtext{
      width: 100% !important;
        height: 37px;
  }

  .p-calendar-w-btn .p-inputtext {
    height: 37px;
    
  }
  .p-button.p-button-icon-only {
    height: 37px ;
    
  }
  .p-calendar{
    width: 100% !important;
  }

   

// .p-icon-wrapper {
    
//     // display: flex;
//     // justify-content: space-evenly;
// }

#employee-details{
.employeeTable tr th span{
    display: flex;
    justify-content: end;
    margin-top: -16px;
}
}
